.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}



.btn-eliminar {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-eliminar:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

/*
 * Estilos para la alineación de los botones de acción.
 * Reemplaza la clase de Bootstrap "d-flex align-items-center"
 */
.botones-accion {
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre los botones */
}

.btn-editar {
    color: #0dc31f;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-editar:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
